<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.tiagopaza.take_picture_native">

    <application>
        <provider
            android:name="dev.tiagopaza.take_picture_native.PictureProvider"
            android:authorities="dev.tiagopaza.take_picture_native.TakePictureNativePlugin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
