<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.tiagopaza.take_picture_native">

    <application>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="br.com.indoai_artista.TakePictureNative"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
